<% title t("views.stats.meta.title") %>

<main id="main-content">
  <h1 class="fs-4xl fw-medium align-center my-5"><%= t("views.stats.heading_html", autopost: link_to(@autopost.title, @autopost.current_state_path, id: "article", data: { "article-id" => @autopost.id, "organization-id" => @organization_id })) %></h1>

  <%= render "shared/stats" %>
</main>

<%= javascript_packs_with_chunks_tag "analyticsArticle", defer: true %>
