<div class="profile-transactions-card crayons-card mt-2 m:mt-0 mb-2">
  <div class="crayons-card__header">
    <h3 class="crayons-subtitle-2">
      <%= t("views.users.transactions") %>
    </h3>
  </div>
  <div class="crayons-card__body py-4 px-3" id="crypto-profile-transactions" data-crypto-profile-id="<%=@crypto_profile ? @crypto_profile.id : "" %>"></div>
</div>