<div class="profile-nft-card crayons-card mt-2 m:mt-0 mb-2">
  <div class="crayons-card__header">
    <h3 class="crayons-subtitle-2">NFT's</h3>
  </div>
  <div id="crypto-profile-nfts" data-crypto-profile-id="<%=@crypto_profile.id %>"></div>
</div>
