<div class="profile-wallets-card crayons-card crayons-card--secondary flex flex-col">
  <header class="crayons-card__header">
    <h3 class="crayons-subtitle-3">
      <%= t("views.users.side.holdings") %></h3>
    </h3>
  </header>
  <div class="crayons-card__body py-4 px-3" id="crypto-profile-holdings" data-crypto-profile-id="<%=@crypto_profile.id %>"></div>
</div>
